<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>av-log</syslogHost>
        <facility>LOCAL0</facility>
        <suffixPattern>av-sched [%-16.16thread] %-32.32logger{32} %msg%n%xException</suffixPattern>
        <throwableExcluded>true</throwableExcluded>
    </appender>

    <root level="info">
        <appender-ref ref="SYSLOG" />
    </root>

</configuration>