<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- Definition of a new job -->
	<servlet>
		<servlet-name>jobDefServlet</servlet-name>
		<servlet-class>net.airvantage.sched.app.JobDefServlet</servlet-class>
	</servlet>

	<!-- Ack, run, delete a job -->
	<servlet>
		<servlet-name>jobActionServlet</servlet-name>
		<servlet-class>net.airvantage.sched.app.JobActionServlet</servlet-class>
	</servlet>

	<!-- Check known secret -->
	<filter>
		<filter-name>schedSecretFilter</filter-name>
		<filter-class>net.airvantage.sched.app.SchedSecretFilter</filter-class>
	</filter>

	<!-- Mappings -->
	<filter-mapping>
		<filter-name>schedSecretFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>jobDefServlet</servlet-name>
		<url-pattern>/api/job</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jobActionServlet</servlet-name>
		<url-pattern>/api/job/ack</url-pattern>
	</servlet-mapping>

</web-app>
